* {border: 0 !important; }
body::-webkit-scrollbar{
  display: none;
}
/* Navbar styling */
.navbar-brand {
  font-size: 35px;
}
.navbar {
  padding-top: 30px;
  font-family: 'Handlee', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Short Stack', cursive;
  font-size:x-large;
  align-content: space-evenly;
}

/* Body styling */
html {overflow: -moz-scrollbars-none;}
body{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
 background-image: url("bgimage.jpg");
 background-repeat: no-repeat;
 background-size: cover;
  padding-top: 100px;
}

h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Short Stack', cursive;
  font-weight:500;
  color: white;
}
h5{
  text-align: center;
  font-size: 20px;
  font-family: 'Short Stack', cursive;
  font-weight:500;
  color: white;
}
h4{
  text-align: center;
  font-size: 20px;
  font-family: 'Short Stack', cursive;
  font-weight:500;
  color: white;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
 background-image: url("bgimage.jpg");
 background-repeat: no-repeat;
 background-size: cover;
  padding-top: 100px;
}


/* Card styling */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

section{
  float:left;
  width:100%;
  padding:30px 0; 
  position:relative; 
  overflow:hidden; 
  background:#6F8D8A;
  margin: 30px;
}

section:before{
  content:"";
  position:absolute; 
  width:110%; 
  height:100%;   
  background-color:#fff; 
  filter: blur(10px); 
  z-index:0; 
  transform: scale(2);-ms-transform: scale(2); 
  -webkit-transform: scale(2);
}

.card{
  box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;
  border-radius: 5%;
}
.card:hover{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-01.height-fix .card-img-overlay{
  top:unset; 
  color:#fff;
  background: -moz-linear-gradient(top, rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159',GradientType=0 );
}
.card-01.height-fix .fa{color: #fff;font-size: 22px;margin-right: 18px;};

/* story page styling */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
