/* Navbar styling */
.navbar-brand {
  font-size: 35px;
}
.navbar {
  padding-top: 30px;
  font-family: 'Handlee', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Short Stack', cursive;
  font-size:x-large;
  align-content: space-evenly;
}

/* Body styling */
html {overflow: -moz-scrollbars-none;}
body{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Video background */
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Overlay text */
.overlay {
  position: center;
  color: #fff;
  text-align: center;
  margin-top: 45vh;
}
.display-3{
  font-size: 75px;
  font-family: 'Short Stack', cursive;
}
.lead{
  font-size: 50px;
  font-family: 'Short Stack', cursive;
}
